

  <!-- Partie droite - 3/4 homogène -->
  <div class="right-section">
    <div class="right-top-description">
      <h1 class="text-danger">Promos du Jour</h1>
      <p class="text-muted">
        Découvrez nos offres du moment. Uniquement aujourd’hui !
      </p>
    </div>

    <!-- Cartes promos avec réduction -->
    <div class="card-container">
      <div class="service-card">
        <div class="discount-badge">-30%</div>
        <img class="service-image" src="../../assets/images/bg/maklou.png" alt="Service 1" />
        <p class="service-title">Makloub Escalope</p>
        <p class="old-price"><del>15dt</del></p>
        <p class="new-price">10dt</p>
      </div>
      <div class="service-card">
        <div class="discount-badge">-50%</div>
        <img class="service-image" src="../../assets/images/bg/pizaa.webp" alt="Service 2" />
        <p class="service-title">Pizaa Neptune</p>
        <p class="old-price"><del>20dt</del></p>
        <p class="new-price">10dt</p>
      </div>
      <div class="service-card">
        <div class="discount-badge">-50%</div>
        <img class="service-image" src="../../assets/images/bg/istockphoto-1223551048-612x612.jpg" alt="Service 2" />
        <p class="service-title">Poulet Grillé</p>
        <p class="old-price"><del>20dt</del></p>
        <p class="new-price">10dt</p>
      </div>
      <div class="service-card">
        <div class="discount-badge">-50%</div>
        <img class="service-image" src="../../assets/images/bg/Capture d'écran 2025-04-06 004256.png" alt="Service 2" />
        <p class="service-title">Mlewi Thon</p>
        <p class="old-price"><del>8dt</del></p>
        <p class="new-price">6dt</p>
      </div>
      <div class="service-card">
        <div class="discount-badge">-50%</div>
        <img class="service-image" src="../../assets/images/bg/n-frisdranken-157-634.jpg" alt="Service 2" />
        <p class="service-title"> Promo 5 Boissons</p>
        <p class="old-price"><del>20dt</del></p>
        <p class="new-price">10dt</p>
      </div>
      <div class="service-card">
        <div class="discount-badge">-50%</div>
        <img class="service-image" src="../../assets/images/bg/hamburgers.webp" alt="Service 2" />
        <p class="service-title">Humberger</p>
        <p class="old-price"><del>12dt</del></p>
        <p class="new-price">6dt</p>
      </div>
      <div class="service-card">
        <div class="discount-badge">-50%</div>
        <img class="service-image" src="../../assets/images/bg/box.jpg" alt="Service 2" />
        <p class="service-title">Box Poulet Pané</p>
        <p class="old-price"><del>20dt</del></p>
        <p class="new-price">10dt</p>
      </div>
      

      <div class="service-card">
        <div class="discount-badge">-20%</div>
        <img class="service-image" src="../../assets/images/bg/liba.webp" alt="Service 3" />
        <p class="service-title">Libanais Chawarma</p>
        <p class="old-price"><del>5dt</del></p>
        <p class="new-price">4dt</p>
      </div>
      
      <div class="service-card">
        <div class="discount-badge">-25%</div>
        <img class="service-image" src="../../assets/images/bg/san.jpg" alt="Service 5" />
        <p class="service-title">Sandwich Jombon</p>
        <p class="old-price"><del>8DT</del></p>
        <p class="new-price">6dt</p>
      </div>
    </div>
  </div>





