<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">



<div class="welcome ">
  <app-spinner></app-spinner>
  <app-search></app-search>
  <div class="welcome-container" style="position: relative;">
 
    
      <h1>Bienvenue Chez Restaurant Hsouna Plus!</h1>
      <p>Découvrez nos services et profitez d'une expérience agréable.</p>
    
  
  </div>  
  
</div>





<div class="decouvrir">
  <app-search></app-search>
  <h2 class="decouvrir-title">Nos services</h2>
  <div class="decouvrir-container">
  
    <div class="item-card">
    <img src='../../assets/images/bg/image1.png'alt="Article 1" class="item-image" />
      <div class="item-info">
        <h3 class="item-name">Mlewi</h3>
        <p class="item-price">10.00 DT</p>
      </div>
    </div>

    <div class="item-card">
      <img src="../../assets/images/bg/libanais.avif" alt="Article 2" class="item-image" />
      <div class="item-info">
        <h3 class="item-name">Libanais</h3>
        <p class="item-price">7.50 DT</p>
      </div>
    </div>
    <div class="item-card">
      <img src="../../assets/images/bg/makloub.jpg " class="item-image" />
      <div class="item-info">
        <h3 class="item-name">Makloub</h3>
        <p class="item-price">8.20 DT</p>
      </div>
    </div>
    <div class="item-card">
      <img src="../../assets/images/bg/hamburger-hamburger-laitue-dessus_662214-47239.jpg" alt="Article 2" class="item-image" />
      <div class="item-info">
        <h3 class="item-name">Humberger</h3>
        <p class="item-price">9.00 DT</p>
      </div>
    </div>
    <div class="item-card">
      <img src="../../assets/images/bg/Pizza-3007395.jpg" alt="Article 2" class="item-image" />
      <div class="item-info">
        <h3 class="item-name">Pizza</h3>
        <p class="item-price">15.00 DT</p>
      </div>
    </div>
    
  
  </div>
</div>





<div class="commandez ">
  <app-spinner></app-spinner>
  <app-search></app-search>
  <div class="commandez-container" style="position: relative;">
  
    <div class="commandez-text">
      <h2>YALLA Commandi !</h2>
      
    </div>
    <div class="commandez-form">
      <form>
        <label for="name">Nom :</label>
        <input type="text" id="name" placeholder="Entrez votre nom" required>
        
        <label for="phone">Numéro de téléphone :</label>
        <input type="tel" id="phone" placeholder="Entrez votre numéro" required>
        <label for="address">Adresse :</label>
        <input type="text" id="address" placeholder="Entrez votre adresse" required>
        <button type="submit">Commander</button>
      </form>
    </div>
   
  </div>
</div>





<div class="suivez ">
  <app-spinner></app-spinner>
  <app-search></app-search>
  <div class="suivez-container" style="position: relative;">
    <h2 class="suivez-title">Découvrez l'univers Hsouna Plus</h2>
    <h4 class="suivez-subtitle">Plongez dans l’expérience unique de Tonton à travers nos espaces variés .Quel que soit votre besoin, Tonton vous garantit une qualité inégalée et une hospitalité remarquable.</h4> 
<div class="locations-grid">
  <div class="location-card">
    <img src="../../assets/images/bg/loc.avif"alt="France">
    <p>Route Taniour Km 2</p>
    
  </div>
  <div class="location-card">
    <img src="../../assets/images/bg/loc.avif" alt="USA">
    <p>Route Gremda Km 0.5 </p>
    
  </div>
  <div class="location-card">
    <img src="../../assets/images/bg/loc.avif"alt="Japan">
    <p>Route Saltniya Km 5</p>
    
  </div>
  <div class="location-card">
    <img src="../../assets/images/bg/loc.avif" alt="Dubai">
    <p>Route Majida Boulila</p>
    
  </div>
  <div class="location-card">
    <img src="../../assets/images/bg/loc.avif" alt="Dubai">
    <p>Route de l'Aeroport</p>
    
  </div>
  <div class="location-card">
    <img src="../../assets/images/bg/loc.avif" alt="Dubai">
    <p>Route Lafrane Km 4</p>
    
  </div>
</div>

    
   
  </div>
</div>


